@use "../utils/mixin" as mix;
@use "../utils/variables" as var;

@mixin styles() {
  width: 100%;

  background-color: var.$col-30_Neutral700;
  @include mix.flex($al: space-around);
  .homeMainText {
    width: 50%;
    @include mix.flex($al: flex-start);
    line-height: 1.3;
    font-size: var.$s_PCsm23-33;
    margin: 1em 0 1em 0.9em;
    h1 {
      @include mix.font(
        var.$hind,
        var.$s_PCsm28-40,
        500,
        var.$col-mainTxt_Ifno300,
        0,
        0
      );
    }
    h2 {
      @include mix.font(
        var.$hind,
        var.$s_PCsm23-33,
        500,
        var.$col-subTxt_Neutral100,
        0,
        0
      );
    }
  }
  .teDhenatCont {
    width: 95%;
    font-size: var.$s_PCsm23-33;
    margin-left: 0.9em;
    @include mix.flex($al: flex-start);
    .firstInfoCont {
      width: 100%;
      @include mix.flex($dr: row, $js: space-between);
      .cardCont {
        width: 24%;
        background-color: var.$col-60_Neutral900;
        font-size: var.$s_PCsm19-28;
        border-radius: 0.4em;
        box-shadow: var.$bxshadow1;
        @include mix.flex($al: flex-start, $js: center);
        .txtIcn {
          width: 100%;
          @include mix.flex($js: space-around, $dr: row);
          img {
            width: 20%;
            font-size: var.$s_PCsm19-28;
            align-self: flex-start;
            margin-top: 0.7em;
            margin-left: 0.5em;
          }
          .text {
            width: 70%;
            @include mix.flex($al: flex-end, $js: center);
            overflow: hidden;
            font-size: var.$s_PCsm19-28;
            margin-right: 0.5em;
            h3 {
              @include mix.font(
                var.$libreFranklin,
                var.$s_PCsm19-28,
                400,
                var.$col-subTxt_Neutral100,
                0.8em 0 0 0,
                0
              );
              white-space: nowrap;
            }
            h2 {
              @include mix.font(
                var.$libreFranklin,
                var.$s_PCsm23-33,
                500,
                var.$col-subTxt_Neutral100,
                0 0 1em 0,
                0
              );
            }
          }
        }
        .progressBar {
          width: 90%;
          aspect-ratio: 33;
          background-color: var.$col-30_Neutral700;
          align-self: center;
          font-size: var.$s_PCsm19-28;
          margin-bottom: 1em;
          border-radius: 0.4em;
          overflow: hidden;
          div {
            height: 100%;
          }
        }
      }
    }
    .graphCont {
      width: 100%;
      @include mix.flex($dr: row, $js: space-between, $al: flex-start);
      font-size: var.$s_PCsm23-33;
      margin: 1em 0 0 0;
      .graphChart {
        width: 60%;
        background-color: var.$col-60_Neutral900;
        font-size: var.$s_PCsm16-23;
        border-radius: 0.49em;
        box-shadow: var.$bxshadow1;
        @include mix.flex($al: flex-start, $js: space-around);
        .grChartUp {
          width: 95%;
          align-self: center;
          @include mix.flex($dr: row, $js: space-between);
          img {
            width: 6%;
            cursor: pointer;
          }
          h3 {
            @include mix.font(
              var.$libreFranklin,
              var.$s_PCsm16-23,
              600,
              var.$col-secSubTxt_Neutral300,
              0.7em 0,
              0
            );
          }
        }
        .grChartDown {
          width: 95%;

          align-self: center;
        }
      }
      .secondChart {
        width: 38.7%;
        background-color: var.$col-60_Neutral900;
        font-size: var.$s_PCsm16-23;
        border-radius: 0.49em;
        box-shadow: var.$bxshadow1;
        @include mix.flex($al: flex-start, $js: space-around);
        div:first-child {
          width: 95%;
          align-self: center;
          @include mix.flex($dr: row, $js: space-between);
          img {
            width: 9.3%;
            cursor: pointer;
          }
          h3 {
            @include mix.font(
              var.$libreFranklin,
              var.$s_PCsm16-23,
              600,
              var.$col-secSubTxt_Neutral300,
              0.7em 0,
              0
            );
          }
        }
        .rrethorChart {
          width: 60%;
          align-self: center;
          font-size: var.$s_PCsm16-23;
          padding-bottom: 3.15em;
        }
      }
    }
  }
}
