//booking second page
@use "../utils/mixin" as mix;
@use "../utils/variables" as var;

@mixin styles() {
  width: 100%;
  @include mix.flex($al: flex-start);
  .homeMainText {
    width: 50%;
    @include mix.flex($al: flex-start);
    line-height: 1.3;
    font-size: var.$s_PCsm23-33;
    margin: 1em 0 1em 1.05em;
    h1 {
      @include mix.font(
        var.$hind,
        var.$s_PCsm28-40,
        500,
        var.$col-mainTxt_Ifno300,
        0,
        0
      );
    }
    h2 {
      @include mix.font(
        var.$hind,
        var.$s_PCsm23-33,
        500,
        var.$col-subTxt_Neutral100,
        0,
        0
      );
    }
  }
  .formNje {
    background-color: var.$col-60_Neutral900;
    width: 45%;
    max-width: 600px;
    font-size: var.$s_PCsm19-28;
    border-radius: 0.4em;
    align-self: center;
    box-shadow: 0px 10px 31px -5px #0d1627;
    @include mix.flex($al: flex-start);
    > div {
      font-size: var.$s_PCsm19-28;
      width: 65%;
      margin-left: 1.2em;
      @include mix.flex($dr: row, $js: space-between);
      .name,
      .surname,
      .checkin,
      .checkout,
      .adults,
      .childrens {
        width: 45%;
        @include mix.flex($al: flex-start);
        label {
          @include mix.font(
            var.$libreFranklin,
            var.$s_PCsm19-28,
            500,
            var.$col-secSubTxt_Neutral300,
            0.4em 0,
            0
          );
        }
        input {
          width: 100%;
          background-color: var.$col-30_Neutral700;
          border: none;
          @include mix.font(
            var.$libreFranklin,
            var.$s_PCsm16-23,
            500,
            var.$col-secSubTxt_Neutral300,
            0.5em 0.4em,
            0
          );
          border-radius: 0.475em;
          &:focus {
            outline: none;
          }
          &::placeholder {
            @include mix.font(
              var.$libreFranklin,
              var.$s_PCsm16-23,
              500,
              var.$col-secSubTxt_Neutral300,
              0.5em 0.4em,
              0
            );
          }
        }
        h4 {
          @include mix.font(
            var.$kanit,
            var.$s_PCsm13-19,
            400,
            var.$col-dilBtnHov_Error600,
            0.2em 0.5em,
            0
          );
        }
        .rdp {
          //datepicker
          position: absolute;
        }
      }
    }
    button {
      @include mix.button(
        var.$kanit,
        var.$s_PCsm19-28,
        400,
        var.$col-subTxt_Neutral100,
        0.2em 1.2em,
        0 1em 0 0,
        var.$col-nextBtn_Warning500,
        0.4em
      );
      align-self: flex-end;
      &:hover {
        background-color: var.$col-nextBtnHov_warning400;
      }
    }
    h5 {
      @include mix.font(
        var.$kanit,
        var.$s_PCsm13-19,
        500,
        var.$col-mainTxt_Ifno300,
        0 0 1em 0,
        0
      );
      align-self: center;
    }
    .nameSurname {
      margin-top: 0.5em;
    }
  }
  .formDy {
    background-color: var.$col-60_Neutral900;
    width: 45%;
    max-width: 600px;
    font-size: var.$s_PCsm19-28;
    border-radius: 0.4em;
    align-self: center;
    box-shadow: 0px 10px 31px -5px #0d1627;
    @include mix.flex($al: flex-start);
    .roomType,
    .email,
    .telNr {
      font-size: var.$s_PCsm19-28;
      width: 65%;
      margin-left: 1.2em;
      @include mix.flex($al: flex-start);
      label {
        @include mix.font(
          var.$libreFranklin,
          var.$s_PCsm19-28,
          500,
          var.$col-secSubTxt_Neutral300,
          0.4em 0,
          0
        );
      }
      input {
        width: 80%;
        background-color: var.$col-30_Neutral700;
        border: none;
        @include mix.font(
          var.$libreFranklin,
          var.$s_PCsm16-23,
          500,
          var.$col-secSubTxt_Neutral300,
          0.5em 0.4em,
          0
        );
        border-radius: 0.475em;
        &:focus {
          outline: none;
        }
        &::placeholder {
          @include mix.font(
            var.$libreFranklin,
            var.$s_PCsm16-23,
            500,
            var.$col-secSubTxt_Neutral300,
            0.5em 0.4em,
            0
          );
        }
      }
      select {
        width: 55%;
        background-color: var.$col-30_Neutral700;
        border: none;
        @include mix.font(
          var.$libreFranklin,
          var.$s_PCsm16-23,
          500,
          var.$col-secSubTxt_Neutral300,
          0.5em 0.4em,
          0
        );
        border-radius: 0.475em;
        &:focus {
          outline: none;
        }
      }
      h4 {
        @include mix.font(
          var.$kanit,
          var.$s_PCsm13-19,
          400,
          var.$col-dilBtnHov_Error600,
          0.2em 0.5em,
          0
        );
      }
    }
    .roomType {
      font-size: var.$s_PCsm19-28;
      margin-top: 0.5em;
    }
    .btnCon {
      width: 89%;
      align-self: center;
      font-size: var.$s_PCsm19-28;
      margin-top: 1em;
      @include mix.flex($dr: row, $js: space-between);
      button {
        @include mix.button(
          var.$kanit,
          var.$s_PCsm19-28,
          400,
          var.$col-subTxt_Neutral100,
          0.2em 1.2em,
          0,
          var.$col-submitBtn_Success700,
          0.4em
        );
        &:hover {
          background-color: var.$col-submitBtnHov_Success600;
        }
      }
      button:nth-child(1) {
        background-color: var.$col-dilBtn_Error700;
        &:hover {
          background-color: var.$col-dilBtnHov_Error600;
        }
      }
    }
    .cmimiText {
      width: 55%;
      font-size: var.$s_PCsm19-28;
      margin-left: 1.2em;
      @include mix.flex($al: flex-start);
      h3 {
        @include mix.font(
          var.$libreFranklin,
          var.$s_PCsm19-28,
          500,
          var.$col-secSubTxt_Neutral300,
          0,
          0 0 0.2em 0
        );
      }
      h4 {
        @include mix.font(
          var.$libreFranklin,
          var.$s_PCsm19-28,
          700,
          var.$col-subTxt_Neutral100,
          0,
          0 0 0 0
        );
      }
    }
    h5 {
      @include mix.font(
        var.$kanit,
        var.$s_PCsm13-19,
        500,
        var.$col-mainTxt_Ifno300,
        0 0 1em 0,
        0
      );
      align-self: center;
    }
  }
  .sbmitOption {
    background-color: var.$col-60_Neutral900;
    width: 45%;
    max-width: 600px;
    font-size: var.$s_PCsm19-28;
    border-radius: 0.4em;
    align-self: center;
    box-shadow: 0px 10px 31px -5px #0d1627;
    @include mix.flex();
    img {
      width: 15%;
      font-size: var.$s_PCsm19-28;
      padding: 3em 0 0 0;
    }
    h1 {
      @include mix.font(
        var.$hind,
        var.$s_PCsm33-48,
        700,
        var.$col-subTxt_Neutral100,
        0,
        0.2em 0 0 0
      );
    }
    button {
      @include mix.button(
        var.$kanit,
        var.$s_PCsm19-28,
        400,
        var.$col-subTxt_Neutral100,
        0.2em 1.2em,
        1em 0 4em 0,
        var.$col-submitBtn_Success700,
        0.4em
      );

      &:hover {
        background-color: var.$col-submitBtnHov_Success600;
      }
    }
  }
}
